html {
    font-size: $basic;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    min-width: 320px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
    color: red;
}