html {
    font-size: $basic;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    min-width: 320px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

main {
    padding-top: 15px;
    .options {
        padding-top: 30px ;
    }
    .sidebar {

    }
}

footer {
    &.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: $light-blue;
        button {
            border: none;
            background: none;
            padding-right: 30px;
            padding-left: 30px;
            color: darken($form-inactive, 30%);
            font-size: $m-size;
            &.save {
                color: $form-blue;
            }
        }
    }
}
