// Colors

// Fonts
 
$basic: 62.5%;
$xl-size: 4.8rem; 
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;

//sizes

$desktop-breakpoint: 45rem;
$light-blue: #B4CAFF;


$form-blue: #336EFF;
$form-inactive: #999;